<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  <nav class="top-nav yellow accent-4">
    <div class="nav-wrapper container">
      <div class="col s12">
        Blog
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="collection">
        {{#each years}}
        <a class="collection-item"  href="{{@root.basedir}}blog/{{year}}"><h2>{{year}}</h2></a>
          {{>archive-year}}
        {{/each}} 
        </div>
      </div>

    </div>

  </div>
  {{>tail-js}}
</body>

</html>
